<!DOCTYPE html>
<html lang="en">
<head>
	<title>Listr</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	
	
	<!-- Google Font used for logo -->
	<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
</head>

<body>
	
	<!-- Jumbotron Header -->	
	<div class="jumbotron py-lg-2 my-lg-0"><div class="container">
		<h2 class="display-3 text-center logo">Listr</h2>
		<hr class="my-4">
		<p class="lead text-center">Organize your stuffs!</p>
	</div></div>
	
	<!-- Navbar -->	
	<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"><div class="container">
		<a class="navbar-brand" href="/">
			<img src="/images/listr-logo-sm.png" class="d-inline-block align-top" alt="">
		</a>
		
		<!-- Toggle button for small screens -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<!-- TODO: maybe add a personal finance manager -->
					<a class="nav-link" href="/finance">Finance</a>
				</li>
			</ul>
		</div>
	</div></nav>
	
	<div class="spacer"></div>
	